@import "tailwindcss";
:root {
  --text-default: rgb(23, 34, 40);
  --text: rgb(23, 98, 18);
  --body-bg: rgb(241, 251, 248);
  --el-bg: rgb(255, 255, 255);
  --primary: rgb(60, 193, 55);
  --secondary: rgb(166, 214, 165);
  --accent: rgb(37, 85, 55);
}
@theme {
  --color-text-default: var(--text-default);
  --color-text: var(--text);
  --color-body-bg: var(--body-bg);
  --color-el-bg: var(--el-bg);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
}
@utility shade {
  transition: all 0.2s;
  @apply shadow-text-default/40 shadow-md;
  @variant hover {
    @apply shadow-sm;
  }
}
@utility container-padding {
  transition: padding 0.2s;
  @apply px-1.5 py-5 sm:px-2 md:px-3.5 md:py-2.5 lg:px-5 lg:py-3 xl:px-6 xl:py-4 2xl:px-7;
}

@utility container-width {
  transition:
    width 0.2s,
    margin 0.2s;
  @apply mx-auto grid w-[calc(100%-1.5rem)] rounded-md;
  @variant sm {
    @apply w-xl;
  }
  @variant md {
    @apply w-2xl;
  }
  @variant lg {
    @apply w-3xl;
  }
  @variant xl {
    @apply w-4xl;
  }
  @variant 2xl {
    @apply w-6xl;
  }
}
html {
  font-size: 16px;

  padding-right: 0rem !important;
  @variant md {
    overflow-y: auto !important;
  }
  body {
    min-height: 100svh;
    @apply bg-body-bg text-text-default relative;
    &:has([data-mobile="true"]) {
      overflow-y: hidden;
    }
  }

  a {
    @apply relative transition-colors duration-200;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transform: translateX(-50%) scaleX(0);
      transform-origin: center;
      transition: transform 0.2s ease;
    }
    @variant hover {
      @apply text-primary;
      &::after {
        transform: translateX(-50%) scaleX(1);
      }
    }
  }
}
